.progress {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 1px 15px 0px #000;
  width: 600px;
  text-align: center;
  margin-bottom: 15px;
}

.progress .progress__bar {
  width: 100%;
  background-color: #808080;
  border-radius: 10px;
  height: 21px;
  position: relative;
  overflow: hidden;
}
.progress .progress__percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #05193c;
  transition: 0.5s;
}

.progress .progress__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}
